In [1]:
#importing libs

import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [2]:
#(1) Using any functions/packages you want, join these two data sets by “date” and “source_id”, returning
#all rows from both regardless of whether there is a match between the two data sets.
icost = pd.read_csv("/Users/ankitpujari/Downloads/Shipt-DataAnalyst-TakeHome/InterviewData_cost.csv")
irev = pd.read_csv("/Users/ankitpujari/Downloads/Shipt-DataAnalyst-TakeHome/InterviewData_Rev.csv")

In [3]:
icost_irev = pd.merge(icost, irev, how='outer', on=["date", "source_id"])

In [4]:
#(2) Using any functions/packages you want, join these two data sets by “date” and “source_id”, returning
#only the rows from the “Cost” file that have no corresponding date in the “Revenue” file.

icost_irev[pd.isnull(icost_irev["revenue"]) & pd.notnull(icost_irev["cost"])]

          date source_id    cost  revenue
4     11/30/14    PA0923  5586.0      NaN
6     12/17/14    PA0952  6662.0      NaN
7      5/22/14    PA0411  4795.0      NaN
9     10/14/14    PA0168  9651.0      NaN
10     2/13/14    PA0354  2752.0      NaN
12    11/23/14    PA0277  5691.0      NaN
13    11/27/14    PA0057  7423.0      NaN
16     3/29/14    PA0552  7894.0      NaN
20      4/3/14    PA0619  4288.0      NaN
22     8/21/14    PA0552  4653.0      NaN
25    12/19/14    PA0258  8300.0      NaN
29    11/13/14    PA0830  5474.0      NaN
30     4/25/14    PA0752  3043.0      NaN
31    11/30/14    PA0859  9934.0      NaN
33    10/18/14    PA0752  1141.0      NaN
36     3/10/14    PA0792  5460.0      NaN
37     5/20/14    PA0577  9377.0      NaN
39     10/7/14    PA0270  7632.0      NaN
40    12/23/14    PA0732  9032.0      NaN
41     4/26/14    PA0318  9037.0      NaN
44    10/19/14    PA0277  3052.0      NaN
45      4/5/14    PA0198  5659.0      NaN
48     7/19/14    PA0368  8149.0      NaN
49     6/24/14    PA0843  5787.0      NaN
50     7/24/14    PA0873  6404.0      NaN
53     12/4/14    PA0318   841.0      NaN
55     7/17/14    PA0368  8858.0      NaN
57     3/23/14    PA0808  3381.0      NaN
62     7/17/14    PA0923  6689.0      NaN
63      8/5/14    PA0368  8027.0      NaN
...        ...       ...     ...      ...
9937    4/5/14    PA0169  4103.0      NaN
9942   4/13/14    PA0830  3416.0      NaN
9944   9/23/14    PA0174  9380.0      NaN
9945   2/21/14    PA0900  3004.0      NaN
9946    1/8/14    PA0057  2308.0      NaN
9947    5/8/14    PA0696  9927.0      NaN
9950   3/10/14    PA0354  5846.0      NaN
9952    4/5/14    PA0352  8305.0      NaN
9953   8/14/14    PA0270  5684.0      NaN
9954  10/17/14    PA0474  7476.0      NaN
9956   8/16/14    PA0126  5456.0      NaN
9957   5/10/14    PA0354  9868.0      NaN
9962   12/3/14    PA0534   454.0      NaN
9967   3/22/14    PA0607  4871.0      NaN
9970  11/29/14    PA0352   550.0      NaN
9972   7/22/14    PA0394  3873.0      NaN
9973  12/23/14    PA0198  1795.0      NaN
9974  10/16/14    PA0534  8053.0      NaN
9977  11/25/14    PA0411  3781.0      NaN
9978   3/11/14    PA0168  9353.0      NaN
9981  10/25/14    PA0751  5195.0      NaN
9984   12/8/14    PA0752   788.0      NaN
9986   9/14/14    PA0526  6959.0      NaN
9991    6/8/14    PA0752  3574.0      NaN
9992    7/4/14    PA0751  2320.0      NaN
9993   12/7/14    PA0900  2037.0      NaN
9994   7/11/14    PA0474   726.0      NaN
9995   1/10/14    PA0830  6202.0      NaN
9996   1/31/14    PA0467  7057.0      NaN
9998   10/1/14    PA0293  1053.0      NaN

[4609 rows x 4 columns]

In [5]:
# (3)Using your result from #1, what are the Top 4 sources (“source_id” values) in terms of total revenue
# generation across this data set? How would you visualize the monthly revenue for those Top 4 sources?
# (note: you don’t need to actually create a plot; you can just describe what your ideal visual would look
# like)

icost_irev = icost_irev.groupby(['source_id'])['revenue'].sum().sort_values(ascending = False).head(4)

#top4_sources = icost_irev.groupby(['source_id']).agg(revenue_sum =('revenue','sum')).sort_values(by='revenue_sum', ascending = False).head(4)

icost_irev

source_id
PA0527    1385747.0
PA0308    1338615.0
PA0352    1309685.0
PA0552    1283190.0
Name: revenue, dtype: float64

In [6]:
print('A simple bar chart over months would be one way to visualize.\nOther way would be a trend line i.e 4 trend line of sources across the months.')

A simple bar chart over months would be one way to visualize.
Other way would be a trend line i.e 4 trend line of sources across the months.

In [7]:
#Questions 4 and 5 deal with “InterviewData_Activity.csv”.
#(4) Assuming you’ve read the data into a Pandas DataFrame called df, run the following code to build a basic logistic regression model. Apply this model to the same data that the model was trained on and assess the prediction accuracy.
#(5) Split the data into training and test samples, and build a model over the training data using the following Python code. Assess the training data model’s accuracy on the test data. Why does the accuracy change so much?

df = pd.read_csv("/Users/ankitpujari/Downloads/Shipt-DataAnalyst-TakeHome/InterviewData_Activity.csv")

import statsmodels.api as sm
dummy_genders = pd.get_dummies(df['gender'], prefix = 'gender')
dummy_metro = pd.get_dummies(df['metropolitan_area'], prefix = 'metro_area')
dummy_device = pd.get_dummies(df['device_type'], prefix = 'device')
cols_to_keep = ['active', 'age']
activity_data = df[cols_to_keep].join(dummy_genders.ix[:, 'gender_M':])
activity_data = activity_data.join(dummy_metro.ix[:, 'metro_area_Birmingham':])
activity_data = activity_data.join(dummy_device.ix[:, 'device_Mobile':])
activity_data = sm.add_constant(activity_data, prepend=False)
explanatory_cols = activity_data.columns[1:]
full_logit_model = sm.GLM(activity_data['active'],
                          activity_data[explanatory_cols],
                          family=sm.families.Binomial())
result = full_logit_model.fit()


result.summary()

/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:12: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  if sys.path[0] == '':
/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:13: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  del sys.path[0]
/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:14: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

//anaconda2/lib/python2.7/site-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                 active   No. Observations:                 5420
Model:                            GLM   Df Residuals:                     5408
Model Family:                Binomial   Df Model:                           11
Link Function:                  logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -3613.1
Date:                Fri, 29 May 2020   Deviance:                       7226.3
Time:                        12:21:16   Pearson chi2:                 5.38e+03
No. Iterations:                    22
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------
age                       0.0136      0.003      5.180      0.000       0.008       0.019
gender_M                 -0.6103      0.083     -7.343      0.000      -0.773      -0.447
metro_area_Birmingham    -0.0547      0.095     -0.576      0.564      -0.241       0.131
metro_area_Charlotte     -1.8619      0.337     -5.529      0.000      -2.522      -1.202
metro_area_Detroit       -0.0792      0.115     -0.689      0.491      -0.304       0.146
metro_area_Houston       -0.4496      0.093     -4.850      0.000      -0.631      -0.268
metro_area_Mobile        -1.7244      0.259     -6.655      0.000      -2.232      -1.217
metro_area_Nashville     22.4506   1.35e+04      0.002      0.999   -2.64e+04    2.64e+04
metro_area_Tampa          0.1370      0.104      1.312      0.189      -0.068       0.342
device_Mobile            -1.5004      0.264     -5.685      0.000      -2.018      -0.983
device_Tablet            -1.2342      0.269     -4.585      0.000      -1.762      -0.707
const                     1.1553      0.290      3.991      0.000       0.588       1.723
=========================================================================================
"""

In [8]:
import sklearn
from sklearn import metrics
from sklearn import feature_selection
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.linear_model import LinearRegression, LogisticRegression, Lasso, Ridge

def confusion(y, X):
    prediction = []
    for number in result.predict(X).tolist():
        if number >= .5:
            prediction.append(1)
        else:
            prediction.append(0)

    print(metrics.confusion_matrix(y,prediction))
    holder = metrics.confusion_matrix(y,prediction)
    TP = holder[0][0]
    TN = holder[1][1]
    FP = holder[1][0]
    FN = holder[0][1]
    
    print("Accuracy: ", (TP + TN) / (TP + TP + FN + FP))
    print("Precision: ", (TN) / (TN + FN))

In [9]:
confusion(activity_data['active'], activity_data[explanatory_cols])

[[1626 1164]
 [1109 1521]]
('Accuracy: ', 0)
('Precision: ', 0)

In [10]:

training_data = activity_data[1:4000]
test_data = activity_data[4001:].copy()
training_logit_model = sm.GLM(training_data['active'], training_data[explanatory_cols], family=sm.families.Binomial())

training_result = training_logit_model.fit()

In [11]:
confusion(test_data['active'], test_data[explanatory_cols])

[[787 503]
 [ 53  76]]
('Accuracy: ', 0)
('Precision: ', 0)